/* Default: Extra-small devices such as small phones (less than 640px) */

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
    .nav-bar {
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        height: 70px;
        position: fixed;
        left: 0;
        right: 0;
    }

    .logo {
        padding-left: 50px;
        color: #ffffff;
        font-size: 28px;
        font-weight: 600;
    }

    .nav-bar .links ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 50px;
    }

    .nav-bar .links a {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
    }

    .header-caption h1 {
        font-size: 72px;
        font-weight: 600;
    }

    .header-caption p {
        font-size: 40px;
    }

    .nav-bar .links a {
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
    }

    .container {
        background-color: #ffffff;
        width: 80%;
        margin: auto;
        box-shadow: 2px 2px 2px rgb(211, 211, 211);
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        padding: 50px 10px;

    }

    .data {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 50px;
    }

    .all-info {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .all-info img {
        height: auto;
        display: block;
    }

    .info {
        width: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    .skills {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .about-me {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .about-me-paragraph {
        flex-grow: 2;
    }

    .about-me-header h2::after {
        content: '';
        width: 75%;
        border: 2px solid #0078FF;
        background-color: #0078FF;
        position: absolute;
        bottom: -30%;
        left: 0;
    }

    .service-container {
        width: 90%;
        margin: auto;
        padding: 50px 0px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 20px;
    }

    .service-item {
        width: 31%;
        background-color: #ffffff;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 30px;
    }

    .icon-container {
        width: 40%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 9px solid #0078FF;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        transition: all 1s;
    }

    .icon-container i {
        font-size: 40px;
        margin: 30px auto;
        color: rgb(30, 30, 30);
        transition: all 1s;
    }

    .service-item h3 {
        color: rgb(30, 30, 30);
        font-size: 22.4px;
        line-height: 26.88px;
        margin: 0px 0px 8px;
        padding: 6.4px 0px;
        font-weight: 500;
    }

    .achievments {
        width: 100%;
        height: 70vh;
        background-image: url(../img/counters-bg.jpg);
        background-position: center center;
        background-attachment: fixed;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .achievments-list {
        display: flex;
        flex-wrap: nowrap;
        row-gap: 10px;
        padding: 50px 0px;
    }

    .icon {
        width: 30%;
        aspect-ratio: 1 / 1;
        border: 8px solid #ffffff;
        border-radius: 50%;
    }

    .portfolio-container {
        width: 90%;
        margin: auto;
        padding: 50px 0px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 20px;
    }

    .portfolio-item {
        background-color: #ffffff;
        width: 31%;
        display: flex;
        box-shadow: 0px 2px 5px rgb(200, 199, 199);
    }
    .work-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .blog-container {
        width: 90%;
        margin: auto;
        padding: 50px 0px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
      .blog-item{
        width: 31%;
        background-color: #ffffff;
        border: 1px solid #D2D2D2;
        border-radius: 0px 0px 5px 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .profile-container {
        width: 70%;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 10px;
    }
    .profile-container img {
        width: 15%;
        border-radius: 50%;
        display: block;
        cursor: pointer;
        transition: color .5s;
    }
    .post-time {
        width: 30%;
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding: 7px;
    }
    .blog-type p {
        color: #ffffff;
        font-size: 11.2px;
        line-height: 13.44px;
        letter-spacing: 0.1px;
        padding: 15px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .contact-section .container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        position: relative;
        z-index: 2;
        box-shadow: none;
    }
    .message-form {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 20px;
    }
    button {
        display: block;
        width: max-content;
        padding: 10px 15px;
        background-color: #0078FF;
        border: solid #0078FF;
        border-radius: 30px;
        color: #ffffff;
        font-size: 19.2px;
        line-height: 28.8px;
        font-weight: 400;
        margin: 20px;
        transition: border .5s, background-color .5s;
    }
    .contact-info-container {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        padding: 0px 20px;
    }
    .social-media-item {
        width: 9%;
        aspect-ratio: 1 / 1;
        border: 3.5px solid #0078FF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border .5s, background-color .5s;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    .header-caption h1 {
        display: inline;
        font-size: 72px;
        font-weight: 600;
    }

    .header-caption p {
        font-size: 40px;
        font-weight: 600;
    }

    .all-info img {
        width: 30%;
        height: auto;
        display: block;
    }
    .portfolio-container,.blog-container {
        width: 80%;
        margin: auto;
        padding: 50px 0px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 20px;
    }
}